[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/FFmpeg"]
	path = libs/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
